body {
	background-color: #13141b;
	color: #ffffff;
	background-image: url(https://iamsaief.github.io/hard-rock/images/bg-image.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}

.form-control {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 22px;
	border: none;
	border-radius: 25px;
	color: #fff;
}
.btn {
	border-radius: 1.5rem;
	padding: 9px 20px;
}

.btn-privious {
	background: rgba(255, 255, 255, 0.2);
	color: #ffffff;
}
.navbar-toggler {
	border: none;
}
.search-box {
	position: relative;
}
.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.single-result {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	word-break: break-word;
}
.single-result > div:nth-child(2) {
	flex: 1;
	padding: 0 15px;
}
.single-result a {
	color: inherit;
}

.btn.go-back {
	color: #fff;
}

@media (max-width: 575px) {
	.single-result {
		display: grid !important;
		grid-template-columns: auto 2fr;
		text-align: left;
		grid-gap: 10px;
	}
	.single-result div:nth-child(3) {
		grid-column: 1 / span 2;
	}
	.single-result div:nth-child(3) .btn {
		width: 100%;
		font-size: 0.8rem;
		padding: 5px 10px;
	}
	.single-result > div:nth-child(2) {
		padding: 0;
	}
	.single-result h3 {
		font-size: 1.1rem;
		margin-bottom: 0.3rem;
	}
	.single-result .lead {
		font-size: 0.9rem;
		line-height: 1.3;
		margin-bottom: 0;
	}
	.single-result img {
		max-width: 70px;
	}
}
