* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #e5ecf2;
  color: #091e42;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

a:hover,
a:focus {
  color: var(--blue);
  text-decoration: underline;
}

.section-title {
  margin: 40px 0;
  text-align: center;
}
.section-title h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.wrapper {
  width: 90vw;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.accordion-panel .accordion-panel-item {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.55);
  border-radius: 10px;
  margin-bottom: 15px;
  transition: 0.2s linear;
  overflow: hidden;
  height: auto;
}
.accordion-panel .accordion-panel-item .accordion-panel-content {
  padding: 0px 20px 20px 45px;
}
.accordion-panel .accordion-panel-item.active {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.15);
}
.accordion-panel .accordion-panel-item.active .accordion-panel-header i {
  transform: rotate(180deg);
}
.accordion-panel .accordion-panel-header {
  padding: 20px 20px 20px 45px;
  cursor: pointer;
  position: relative;
}
.accordion-panel .accordion-panel-header i {
  position: absolute;
  left: 18px;
  top: 24px;
  font-size: 2rem;
  transition: 0.2s linear;
}
.accordion-panel .accordion-panel-header .title {
  font-size: 1.8rem;
  font-weight: 600;
}
